.header {
    margin-bottom: 20px;
    border-bottom: 2px;
    border-bottom-color: white;
  }

  .nav-item {
    cursor: pointer;
    position: relative;
    /* height: 125px; */
  }

  .nav-item:hover,
  .nav-item:focus,
  .nav-item:active {
    color: #fff;
    text-decoration: underline;
  }